body {

  background:#E6E6E6;
} 
.dline{
  padding-top: 40px;
}

  .container 
  {


        width:400px; /* Ширина элемента в пикселах */
    padding:10px 40px 20px 40px; /* Поля вокруг текста */
    margin: -5px auto; /* Выравниваем по центру */

    background:#fff;
  }
  .img 
  {
text-align: center;

  }

 .box1
  {
border-bottom:2px solid grey;

  }
  li{
    line-height:1.5;
  }